<footer class="site-footer h-card">
  <data class="u-url" href="{{ '/' | relative_url }}"></data>

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <a class="site-title-footer" href="{{ '/' | relative_url }}">version010</a>
        <p class="p-name">
          {%- if site.author -%}
            By <a href="{{ '/about/' | relative_url }}"><b>{{ site.author | escape }}</b></a> from Sydney, Australia
          {%- endif -%}
        </p>
      </div>
      <div class="footer-col footer-col-2">
        <p>{{- site.description | escape -}}</p>
        <p class="rss-subscribe">Subscribe <a href="{{ '/feed.xml' | relative_url }}">via RSS</a> </p>
      </div>
    </div>

  </div>

</footer>
